<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>

  <% if @restaurant.errors.any? %>
    <div class="alert alert-danger">
      <h3>Please fix these problems:</h3>
      <ul>
      <% @restaurant.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
    <%= f.input :phone_number %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
